@font-face {
    font-family: Quicksand;
    src: url(../../Ressources/Fonts/Quicksand/Quicksand-VariableFont_wght.ttf);
}

@font-face {
    font-family: Vollkorn;
    src: url(../../Ressources/Fonts/Vollkorn/Vollkorn-VariableFont_wght.ttf);
}

body {
    background-color: #1D0027;
    color: #EEE0E8;
    margin: 0;
    font-family: Quicksand, sans-serif;
}

#bandeau {
	font-family: Vollkorn, serif;
	position:sticky;
	top: 0;
    z-index: 1;
}

#top-bar {
    background-color: #A30080;
    font-size: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    height: 1.8em;
    align-items: center;
    padding-left: 1.2%;
    padding-right: 1.2%;
    z-index: 1;
}

a {
    color: #EEE0E8;
    text-decoration: NONE;
}

#top-bar-right {
    align-items: center;
    cursor: pointer;
    margin-left: auto;
}

#imgBandeau {
    border-style: solid;
    border-color: #EEE0E8;
    border-radius: 50%;
}

#popup {
    position: absolute;
    right: 0;
    border-color: #A30080;
    border-style: solid;
    border-top: 0;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    display: none;  /* display flex mais le popup est caché par défaut */
    flex-direction: column;
    width: 19em;
    height: 21em;
    align-items: center;
    justify-content: space-around;
    background-color: #1D0027;
    z-index: -1;
}

#logoNomPrenom {
    display: flex;
    flex-direction: column;
}

#logoNomPrenom a {
    margin-left: auto;
    margin-right: auto;
}

#aImgPopup {
    margin-bottom: 10%;
}

#imgPopup {
    border-style: solid;
    border-color: #EEE0E8;
    border-radius: 50%;
}

#nomprenom {
    font-size: 2em;
}

button {
    font-size: 2em;
    padding: 0.25em;
    border-radius: 0.3em;
    background-color: #8F0039;
    color: #EEE0E8;
}

#switch {
    border-style: solid;
    border-right: #EEE0E8;
    border-left: #EEE0E8;
    border-width: 0.15em;
    width: 70%;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    height: 3em;
}

#bandeau * {
    vertical-align: middle;
}

/* switch theme */
#switch-theme {
    cursor: pointer;
}

.switch-theme-contour {
    stroke: #eee0e8;
}

#switch-theme-left, switch-theme-moon {
    fill: #1d0027;
}

#switch-theme-right, #switch-theme-sun {
    fill: #eee0e8;
}

/* switch theme avec curseur dessus */
#switch-theme:hover .switch-theme-contour {
    stroke: #1f1e1f;
}

#switch-theme:hover #switch-theme-left {
    fill: deepskyblue;
}

#switch-theme:hover #switch-theme-right {
    fill: midnightblue;
}

#switch-theme:hover #switch-theme-sun {
    fill: yellow;
}

#switch-theme:hover #switch-theme-moon {
    fill: lightyellow;
}

/* SWALL CSS */
/******* AlertError *******/
.swal-modal {
    background-color: #1D0027;
    border: 1px solid #EEE0E8;
}

.swal-title {
    color: #EEE0E8;
}

.swal-icon--error__line--left, .swal-icon--error__line--right {
    background-color: #FA0000;
}

.swal-icon--error {
    border-color: #FA0000;
}

.swal-button--confirm {
    background-color: #FF00C9;
    border-color: #EEE0E8;
}

.swal-button--confirm:not([disabled]):hover {
    background-color: #A30080;
}

.swal-button:focus {
    box-shadow: none;
}

/******* AlertSuccess *******/
.swal-icon--success:before, .swal-icon--success:after, .swal-icon--success__hide-corners {
    background-color: #1D0027;
}
