body{
    text-align:center;
    color: #1F1E1F;
    background-image: url(../../Ressources/Pictures/landscape2.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

div {
    border-style: solid;
    border-color: #1F1E1F;
}

a {
    display: block;
    text-align: right;
    font-size: 1.2em;
    margin-top: 0.5em;
}

button {
    font-size: 1.1em;
    padding: 0.25em;
    border-radius: 0.3em;
    background-color: #CD5162;
    color: #1F1E1F;
}

p{
    font-size: 2em;
}

span {
    margin: 0.5em;
    border-style: solid;
    border-radius: 50%;
    border-width: 0.005em;
    padding-right: 0.3em;
    padding-left: 0.3em;
}

label{
    font-size: 1.2em;
}

.hovertext {
    position: relative;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 8em;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 0.25em;
    padding: 0.25em 0;
    transition: opacity 0.1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

#first {
    background-image: ;
    border-radius: 1em;
    padding: 0.5em;
    width: 26em;
    height: 22em;
}

#second {
    margin-top: 1em;
    margin-right: auto;
    margin-left: auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 22em;
    height: 10em;
    background-color: #F88C95;
}

#second-bottom {
    border-style: unset;
    border-color: unset;
}

#petalFrame {
    background-image: url("../../Ressources/Icon/logo%20PETAL%20profil.svg");
    background-repeat: no-repeat;
    border: none;
    background-attachment: fixed;
    background-position: calc(50% + 6em);

    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#petalText {
    box-shadow: 0px 0px 20px 20px #00000088;
    background-color: #00000088;
    position: absolute;
    bottom: 0%;
    left: 0%;
    height: 3em;
    padding: 1em;
}