/* Include Bandeau.css */
@import "../../ALL/CSS/bandeau.css";

body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

th {
    background-color: #FF00C9;
    border-width: 0em;
    border-bottom-width: 0.3em;
    border-style: solid;
    border-color: #eee0e8;
    height: 5em;
}

#centre {
    margin-left: auto;
    margin-right: auto;
}

#PageAccueil {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
}

.espace {
    padding: 1em 2em;
}

.gestion {
    width: 27em;
    height: 38em;
    border-collapse: separate;
    border-spacing: 0em;
    border-radius: 10%;
    border: solid 0.4em #eee0e8;
    overflow: hidden;
}

.image {
    background-color: #A30080;
    text-align: center;
}

.titre {
    font-size: 2em;
}