@import "../../ALL/CSS/bandeau_light.css";

body {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#corps {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#retour {
    font-family: Quicksand, sans-serif;
    font-size: 1.7em;
    padding-left: 0.5em;
}

h1 {
	font-family: Volkorn;
	height: 20%;
    text-align: center;
}

#image-matiere {
    min-width: 45vh;
    width: 100%;
    min-height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: 4px solid #1f1e1f;;
}

#etudiants {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
}

#liste-etudiants {
    display: flex;
    flex-direction: column;
    border: 4px solid #1f1e1f;
    border-radius: 1em;
    margin: 1em;
    background-color: #f88c95;
}

#liste-etudiants li {
    display: block;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#liste-etudiants li:first-of-type {
    margin-top: 1em;
}

#liste-etudiants li:last-of-type {
    margin-bottom: 1em;
}

#liste-etudiants li * {
    vertical-align: middle;
}

.CB {
    width: 3vh;
    height: 3vh;
    border-color: #1f1e1f;
}

.nom {
    font-size: 1.1em;
}

#aucun-etudiant {
    font-size: 1.6em;
    margin: 1em;
}

#valider {
    background-color: #CD5162;
    font-size: 1.6em;
}
