/*liste qcm light*/
#corps{
	/*position: X; où X est un des paramètres possibles
	z-index: 1; pour être affiché en dessous*/
	position: absolute;
	top: 4.75em;
	padding: 0;
	width: 100%;
	color: #EEE0E8;
	background-color: #1D0027;
}
#conteneurRetour {
    display: flex;
    width: 100%;
    position:absolute;
	top:0%;
}

#retour {
    display: block;
    justify-content: flex-start;
    font-family: Quicksand, sans-serif;
    font-size: 1.7em;
    padding-left: 0.5em;
}
li{
	list-style: none;
}
#titrePage{
	text-align: center;
    font-size: 1.5em;
    height: 20%;
}
#titre{
	text-align: center;
}
ul{
	font-size: 1.5em;
}
.question{
	margin-left:1em;
}
#boutonBas{
	margin-left:40%;
}
#reponses{
	margin-left: 1em;
}
.SecondButton{
	font-size:1.5em;
	margin-left: 0.25em;
}
.BtAjoutImage{
	font-size:1.5em;
	margin-left: 0.25em;
}

#popup{
	display: none;
}
td{
	padding-left: 0.5em;
	padding-right: 0.5em;
}

