/*liste qcm light*/
@import "../../ALL/CSS/bandeau_light.css";
#corps{
	position: absolute;
    top: 0;
    width: 100%;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
}
body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}
#retour{
	font-size: 1.5em;
}
#titrePage{
	text-align: center;
    font-size: 1.5em;
    height: 20%;
}
li{
	list-style: none;
}
#titre{
	text-align: center;
	margin-left:30%;
	margin-right:25%;
}
ul{
	font-size: 1.5em;
}
.question{
	margin-left:1em;
}
#boutonBas{
	margin-left:40%;
}
#reponses{
	margin-left: 1em;
}
.SecondButton{
	/*font-size:1.5em;
	margin-left: 0.25em;*/
	font-size: 2em;
    padding: 0.25em;
    border-radius: 0.3em;
    background-color: #CD5162;
    color: #1F1E1F;
}
.BtAjoutImage{
	/*font-size:1.5em;
	margin-left: 0.25em;*/

	font-size: 1.5em;
    padding: 0.25em;
    border-radius: 0.3em;
    background-color: #CD5162;
    color: #1F1E1F;
}
#popup{
	display: none;
}