
@import "../../ALL/CSS/bandeau.css";

body {
    background-color: #1D0027;
    color: #EEE0E8;
    font-family: Quicksand;
    /*src: url(../../Ressources/Fonts/Quicksand/Quicksand-VaribleFont_wght.ttf);*/
}

#retour {
    color: #EEE0E8;
    margin-left:2%;
}

h1 {
    font-family: Volkorn;
    /*src: url(../../Ressources/Fonts/Volkorn/Volkorn-VariableFont_wght.ttf);*/
    text-align: center;
}

li {
    list-style: circle;
    list-style-type: disc;
}

table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#info td {
    width: 30em;
    padding-left: 10%;
    padding-right: 10%;
}

#esp_perso {
    position: absolute;
    top: 5em;
    width: 100%;
    padding: 0;
}

#bandeau {
    width: 100%;
    padding: 0;
}

#popup{
    display: none;
}
