/* Include bandeau_dark.css */
@import "../../ALL/CSS/bandeau_dark.css";

body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

#title {
    height: 20%;
    text-align: center;
    font-size: 1.5em;
    font-family: Volkorn;
}

#content {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
}

#toolbar {
    width: 100%;
    height: 4em;
    border-bottom: #EEE0E8 0.4em solid;
    border-top: #EEE0E8 0.4em solid;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.icon {
    padding-left: 1em;
    padding-right: 1em;
    display: block;
}

/* DISABLE THE POPUP */
#popup {
    display: none;
}

#conteneurBoutonRetour {
    display: flex;
    width: 100%;
}

#boutonRetour {
    display: block;
    justify-content: flex-start;
    font-family: Quicksand, sans-serif;
    font-size: 1.7em;
    padding-left: 0.5em;
}

#liste {
    padding: 1em;
    font-family: Quicksand, sans-serif;
    font-size: 2.2em;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: center;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 10%;
    border-style: solid;
    border-width: 0.2rem;
    border-color: #EEE0E8;
    margin-right: 0.5em;
}

label > input[type="checkbox"]:checked + *::before {
    content: "";
    color: white;
    text-align: center;
    background: #FA0000;
    border-color: #FA0000;
}
label > input[type="checkbox"]:checked + * {
    color: #FA0000;
}

label > input[type="checkbox"] + *:hover {
    color: #8F0039;
    border-color: #8F0039;
    font-size: 105%;
}
#plus {
    content: url("../../Ressources/Pictures/Plus_Picture_Light.png");
}

#crayon {
    content: url("../../Ressources/Pictures/Crayon_Dark.png");
}

#corbeille {
    content: url("../../Ressources/Pictures/Corbeille_Dark.png");
}
#plus{
    padding-left: 1em;
    padding-right: 1em;
    display: block;
    width: 3.5em;
}

li{
    list-style: none;
}

ul{
    padding: 1em;
    font-size: 2.2em;
}