/*liste qcm light*/
@import "../../ALL/CSS/bandeau_light.css";
#corps{
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
}
body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}
#conteneurRetour {
   display: flex;
    width: 100%;
}

#retour {
    display: block;
    justify-content: flex-start;
    font-family: Quicksand, sans-serif;
    font-size: 1.7em;
    padding-left: 0.5em;
}
#moyenne .entete{
	border-top-left-radius:25%;
	border-top-right-radius:25%;
}
.entete{
	background-color: #CD5162;
}
tr{
	background-color: #F88C95;
}
#moyenne{
	border-style: solid;
	border-color:#1F1E1F;
	border-width: 0.25em;
	
	border-collapse: separate;
	border-spacing: 0 0;
	width:10em;
	height:10em;
	border-radius: 25%;
	overflow:hidden;
}
#moyenneTd1{
	border-top-left-radius:25%;
	border-top-right-radius:25%;
	border-bottom-style: solid;
	border-color:#1F1E1F;
	border-width: 0.25em;
}
#moyenneTd2{
	border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
}
#resultats{
	border-collapse: separate;
	border-spacing: 0 0.5em;
	width:40em;
	height:30em;
	overflow:hidden;
}
h1{
	height: 20%;
    text-align: center;
}
td{
	padding-left:0.5em;
	text-align: center;
}
#resultats tr td{
	border-top:4px solid #1F1E1F;
	border-bottom:4px solid #1F1E1F;
}
#resultats tr > *:first-child{
	border-left:4px solid #1F1E1F;
}
#resultats tr > *:last-child{
	border-right:4px solid #1F1E1F;
}
#resultats tr:last-child > *:first-child{
	border-radius:0% 0% 0% 20px;
	border:4px solid #1F1E1F;
	border-right:none;
}
#resultats tr:last-child > *:last-child{
	border-radius:0% 0% 20px 0%;
	border:4px solid #1F1E1F;
	border-left:none;
}
#resultats tr:first-child > *:first-child{
	border-radius:20px 0% 0% 0%;
	border:4px solid #1F1E1F;
	border-right:none;
}
#resultats tr:first-child > *:last-child{
	border-radius:0% 20px 0% 0%;
	border:4px solid #1F1E1F;
	border-left:none;
}
#popup{
	display: none;
}
#tableaux{
	display: flex;
    flex-direction: row;
    align-items: center;
}
#moy{
	display: block;
	padding-left:5em;
}
#result{
	padding-left:2em;
}