/* Include bandeau_dark.css */
@import "../../ALL/CSS/bandeau_dark.css";

body {
    font-family: Quicksand, sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

#content {
    text-size-adjust: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: Volkorn;
    font-size: 5vh;
    text-align: center;
}

.matiere {
    table-layout: fixed;
    width: 40vh;
    height: 40vh;
    border-collapse: separate; 
    border-spacing: 0px;
    border-radius: 10%;
    border-style: solid;
    border-color: #EEE0E8;
    overflow: hidden;
}

th {
    font-size: 2.5vh;
    background-color: #FF00C9;
    border-width: 100%;
    border-top:0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom-width: 15%;
    border-style: solid;
    border-color: #EEE0E8;
    width: 100%;
    height: 25%;
    font-family: Volkorn;
}


td.espace {
    padding: 3% 5vh;
}

#centre {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
}

.image {
    background-color: #A30080;
    text-align: center;
    padding: 0;
}

.container {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}