/* Include Bandeau.css */
@import "../../ALL/CSS/bandeau_light.css";

body {
    font-family: Quicksand, sans-serif;
    width: 100%;
    height: 100%;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Volkorn, serif;
}


#content {
    width: 100%;
    display: flex;
}

/* Partie gauche, liste des cours */
#gauche-cours {
    background-color: #F88C95;
    min-height: calc(100vh - 4em);
    border-right: 4px solid #1f1e1f;
}

#gauche-cours ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding-right: 0.5em;
    height: 100%;
    font-size: 2em;
}

#retour-cours {
    margin-bottom: 1em;
}

#a-retour-cours {
    font-size: 0.75em;
    text-decoration: underline;
    color: #3532B5;
}


/* Partie droite, liste des sujets */
#droite-sujet {
    font-size: 1.5em;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#bandeau-sujet {
    background-color: #F88C95;
    border-bottom: 4px solid #1f1e1f;
    display: flex;
    justify-content: space-between;
    padding: 0.2em 0.5em;
}

#bandeau-sujet * {
    vertical-align: middle;
}

#a-retour-liste {
    text-decoration: underline;
    color: #3532B5;
}

#envoyer-message {
    padding: 0.5% 2% 1% 2%;
    background-color: #F88C95;
    border-top: 4px solid #1f1e1f;
}

#envoyer-message-span {
    font-size: 1.1em;
}

#envoyer-message-texte {
    width: 100%;
    border: 4px solid #1f1e1f;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: Quicksand, sans-serif;
    font-size: 0.8em;
    resize: none;
    height: 4em;
}

#envoyer-message-bouton {
    background-color: #CD5162;
    font-size: 1.1em;
    float: right;
}

#messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.message-recu, .message-envoye {
    width: 40%;
    overflow-wrap: break-word;
}

.message-recu {
    margin: 0.5em 0 0.5em 0.5em;
}

.message-envoye {
    align-self: flex-end;
    margin: 0.5em 1.5em 0.5em 0;
}

.message-entete {
    border: 4px solid #1f1e1f;
    background-color: #CD5162;
    width: 100%;
    padding: 0.2em 0.5em;
}

.message-recu .message-entete {
    border-top-left-radius: 1em;
}

.message-envoye .message-entete {
    border-top-right-radius: 1em;
}

.message-date {
    float: right;
}

.message-contenu {
    border-left: 4px solid #1f1e1f;
    border-bottom: 4px solid #1f1e1f;
    border-right: 4px solid #1f1e1f;
    width: 100%;
    padding: 0.2em 0.5em;
    background-color: #F88C95;
}

.message-recu .message-contenu {
    border-bottom-right-radius: 1em;
}

.message-envoye .message-contenu {
    border-bottom-left-radius: 1em;
}
