/* Include Bandeau.css */
@import "../../ALL/CSS/bandeau.css";

body {
    font-family: Quicksand, sans-serif;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*disable the popup*/
#popup {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Volkorn, serif;
}


#content {
    width: 100%;
    display: flex;
}

/* Partie gauche, liste des cours */
#gauche-cours {
    background-color: #8F0039;   
    min-height: calc(100vh - 4em);
}

#gauche-cours ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding-right: 0.5em;
    height: 100%;
    font-size: 2em;
}

/* Partie droite, liste des sujets */
#droite-sujet {
    font-size: 1.5em;
    overflow: hidden;
    flex-grow: 1;
}

#bandeau-sujet {
    background-color: #8F0039;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
}

#bandeau-sujet * {
    vertical-align: middle;
}

#messages {
    width: 96%;
    padding: 2%;
}
