/* Include Bandeau.css */
@import "../../ALL/CSS/bandeau.css";

body {
    font-family: Quicksand, sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

#content {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 4em;
    height: 100%;
}

/*disable the popup*/
#popup {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Volkorn, serif;
}


/* Partie gauche, liste des cours */
#gauche-cours {
    background-color: #8F0039;
    height: 75%;
    padding-top: 5%;
    padding-bottom: 20%;
    width: 17%;
    float: left;
}

#gauche-cours ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    height: 100%;
    font-size: 2em;
}


/* Partie droite, liste des sujets */
#droite-sujet {
    margin-left: 17%;
    width: 83%;
    height: 96%;
    
    font-size: 1.5em;
}

#bandeau-sujet {
    width: 98%;
    background-color: #8F0039;
    padding: 1em 1%;
}

#bandeau-sujet * {
    vertical-align: middle;
}

#bandeau-sujet-resolu {
    float: right;
}

#bandeau-sujet-nom {
    margin: 0 auto;
    width: 100px;
}

#messages {
    width: 96%;
    padding: 2%;
}

