
@import "../../ALL/CSS/bandeau_light.css";

body {
    background-color: #F5F5F5;
    color: #1F1E1F;
    font-family: Quicksand;
    /*src: url(../../Ressources/Fonts/Quicksand/Quicksand-VaribleFont_wght.ttf);*/
}

#retour {
    color: #1F1E1F;
    margin-left:2%;
}

h1 {
    font-family: Volkorn;
    /*src: url(../../Ressources/Fonts/Volkorn/Volkorn-VariableFont_wght.ttf);*/
    text-align:center;
}

li {
    list-style:circle;
    list-style-type: disc;
}

td {
    border-left-width: 0;
    border-right-width: 0;
}

tr:first-child td:first-child {
    border-top-left-radius: 2em;
    border-left-width:initial;
}

tr:first-child td:last-child {
    border-top-right-radius: 2em;
    border-right-width: initial;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 2em;
    border-left-width: initial;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 2em;
    border-right-width: initial;
}

table {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#info td {
    width: 30em;
    padding-left: 10%;
    padding-right: 10%;
}

#tableau td {
    padding-left: 6em;
    padding-right: 6em;
    border-style: solid;
}

#tableau{
    border-collapse: separate;
    border-spacing: 0 1.25em;
}

#tableau tr:nth-last-child(1){
    background-color: #F88C95;
    border-top: 1em;
    padding-bottom: 1em;
    height: 3em;
}

#en-tete {
    background-color: #CD5162;
}

#esp_perso {
    position: absolute;
    top: 5em;
    width: 100%;
    padding: 0;
}

#bandeau {
    width: 100%;
    padding: 0;
}

