/* Include Bandeau.css */
@import "../../ALL/CSS/bandeau.css";

body {
    font-family: Quicksand, sans-serif;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

#content {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 4em;
    height: 100%;
}

/*disable the popup*/
#popup {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Volkorn, serif;
}


/* Partie gauche, liste des cours */
#gauche-cours {
    background-color: #8F0039;
    height: 75%;
    padding-top: 5%;
    padding-bottom: 20%;
    width: 17%;
    float: left;
}

#gauche-cours ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    height: 100%;
    font-size: 2em;
}


/* Partie droite, liste des sujets */
#droite-sujets {
    margin-left: 17%;
    width: 79%;
    height: 96%;
    padding: 2%;
    
    font-size: 1.5em;
}

#droite-sujets table {
    width: 100%;
    border-spacing: 0 1.2em;
}

#droite-sujets table tr {
    text-align: center;
    background-color: #A30080;
}

#droite-sujets table tr:first-child {
    background-color: #FF00C9;
    
}

#droite-sujets table tr th {
    padding: 0.7em;
} 

#droite-sujets table tr td {
    padding: 0.35em;
} 

#droite-sujets table tr td:first-child{
    text-decoration: underline;
}

#droite-sujets table tr td img {
    vertical-align: middle;
}

table tr:first-child *:first-child {
    border-top-left-radius: 1em;
}

table tr:first-child *:last-child {
    border-top-right-radius: 1em;
}

table tr:last-child *:first-child {
    border-bottom-left-radius: 1em;
}

table tr:last-child *:last-child {
    border-bottom-right-radius: 1em;
}