/* Include Bandeau.css */
@import "../../ALL/CSS/bandeau.css";

body {
    font-family: Quicksand, sans-serif;
    width: 100%;
    height: 100%;
    z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Volkorn, serif;
}


#content {
    width: 100%;
    display: flex;
}

/* Partie gauche, liste des cours */
#gauche-cours {
    background-color: #8F0039;   
    min-height: calc(100vh - 4em);
}

#gauche-cours ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding-right: 0.5em;
    height: 100%;
    font-size: 2em;
}

#retour-cours {
    margin-bottom: 1em;
}

#a-retour-cours {
    font-size: 0.75em;
    text-decoration: underline;
}


/* Partie droite, liste des sujets */
#droite-sujets {
    font-size: 1.5em;
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#message-selection-sujet-div {
    text-align: center;
    height: 100%;
}

#message-selection-sujet {
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    flex-grow: 1;
}

#droite-sujets table {
    padding: 0 2%;  /* Pas de padding haut/bas car il y a le border-spacing avant le premier <tr> et après le dernier */
    width: 100%;
    border-spacing: 0 1.2em;
    flex-grow: 1;
}

#droite-sujets table tr {
    text-align: center;
    background-color: #A30080;
}

#droite-sujets table tr:first-child {
    background-color: #FF00C9;
    
}

#droite-sujets table tr th {
    padding: 0.7em;
} 

#droite-sujets table tr td {
    padding: 0.35em;
} 

#droite-sujets table tr td a {
    text-decoration: underline;
}

#droite-sujets table tr td img {
    vertical-align: middle;
}

table tr:first-child *:first-child {
    border-top-left-radius: 1em;
}

table tr:first-child *:last-child {
    border-top-right-radius: 1em;
}

table tr:last-child *:first-child {
    border-bottom-left-radius: 1em;
}

table tr:last-child *:last-child {
    border-bottom-right-radius: 1em;
}

#creer-sujet {
    padding: 0.5% 2% 1% 2%;
    background-color: #A30080;
}

#creer-sujet-span {
    font-size: 1.1em;
}

#creer-sujet-titre, #creer-sujet-message {
    background-color: black;
    color: #EEE0E8;
    width: 100%;
    border: 4px solid #EEE0E8;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: Quicksand, sans-serif;
    font-size: 0.8em;
}

#creer-sujet-message {
    margin-top: 0;
    resize: none;
    height: 4em;
}

/* Pas supporté partout (Dans le sens où si l'utilisateur a un navigateur pas mis à jour depuis 10 ans...) */
#creer-sujet *::placeholder {
    color: #EEE0E8;
    opacity: 0.7;
}

#creer-sujet-bouton {
    background-color: #FF00C9;
    font-size: 1.1em;
    float: right;
}
