/* Include Bandeau.css */
@import "../../ALL/CSS/bandeau_light.css";

body {
    font-family: Quicksand, sans-serif;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*disable the popup*/
#popup {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Volkorn, serif;
}


#content {
    width: 100%;
    display: flex;
}

/* Partie gauche, liste des cours */
#gauche-cours {
    background-color: #F88C95;
    min-height: calc(100vh - 4em);
    border-right: 4px solid #1f1e1f;
}

#gauche-cours ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 0;
    padding-right: 0.5em;
    height: 100%;
    font-size: 2em;
}


/* Partie droite, liste des sujets */
#droite-sujets {
    padding: 0 2%;  /* Pas besoin de padding haut/bas, il y a le border-spacing avant le premier <tr> et après le dernier */
    font-size: 1.5em;
    overflow: hidden;
    flex-grow: 1;
}

#droite-sujets table {
    width: 100%;
    border-spacing: 0 1.2em;
}

#droite-sujets table tr {
    text-align: center;
    background-color: #F88C95;    
}

#droite-sujets table tr th, #droite-sujets table tr td {
    border-top: 4px solid #1f1e1f;
    border-bottom: 4px solid #1f1e1f;
}

#droite-sujets table tr > *:first-child {
    border-left: 4px solid #1f1e1f;
}

#droite-sujets table tr > *:last-child {
    border-right: 4px solid #1f1e1f;
}

#droite-sujets table tr th {
    padding: 0.7em;
} 

#droite-sujets table tr td {
    padding: 0.35em;
} 

#droite-sujets table tr td:first-child{
    text-decoration: underline;
    color: #3532B5;
}

#droite-sujets table tr img {
    vertical-align: middle;
}

table tr:first-child *:first-child {
    border-top-left-radius: 1em;
}

table tr:first-child *:last-child {
    border-top-right-radius: 1em;
}

table tr:last-child *:first-child {
    border-bottom-left-radius: 1em;
}

table tr:last-child *:last-child {
    border-bottom-right-radius: 1em;
}