
@import "../../ALL/CSS/bandeau_light.css";

body {
    background-color: #F5F5F5;
    color: #1F1E1F;
    font-family: Quicksand;
}

h1{    
    font-family: Volkorn;
    text-align:center;
}

li {
    list-style: none;
    font-size: large;
}

span {
    font-size: larger;
}

form {
    position: relative;
}

output {
    float: right;
    font-size: larger;
}

input[type="radio"]: checked + *{
    color: #CD5162;
    font-size: large;
}

#qcm div {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#valider {
    background-color: #CD5162;
    margin-left: 80%;
}

#titre {
    background-color: #F88C95;
    font-size: larger;
    border-bottom-style: solid;
    border-bottom-color: #1F1E1F;
}

#question {
    padding-left: 3em;
    padding-right: 3em;
    font-size: large;
}

#intitule {
    background-color: #F88C95;
    margin-top: 2em;
    border-style: solid;
    border-color: #1F1E1F;
    width: 30em;
    padding-top: 0.5em;
}

#qcm {
    width: 100%;
    position: absolute;
    top: 5em;
    padding: 0;
}

#bandeau {
    width: 100%;
    padding: 0;
}

#popup{
    display:none;
}


